<div class="panel panel-primary">
  <div class="panel-heading">
    <%= @event.name %>
    <p><%= @event.description %></p>
  </div>
  <hr/>

  <div class="panel-body">
    <!-- Registration Form -->
    <% if current_user != @event.user %>
      <%= render 'registrations/form' %>
    <% end %>
    <hr/>

    <!-- Main info -->
    <p>Location: <%= @event.location %></p>
    <p>Host: <%= @event.user.email %></p>
    <p>Start date: <%= @event.starts_at.strftime("%A, %B %e, %Y") %></p> <p><%= @event.starts_at.strftime("%l:%M %p") %></p>
    <p>End date: <%= @event.ends_at.strftime("%A, %B %e, %Y") %></p> <p><%= @event.ends_at.strftime("%l:%M %p") %></p>
    <br/>

    <p>Price: <%= @event.price %> <span>€</span> </p>
    <p>Capacity: <%= @event.capacity %> <%= @event.capacity > 1 ? "Guests" : "Guest" %></p>
    <br/>

    <!-- Amenities -->
    <h4>Amenities</h4>
    <ul class="includes">
      <li><%= !@event.includes_food ? ("<s>Food</s>").html_safe : "Food" %></li>
      <li><%= !@event.includes_drinks ? ("<del>Drinks</del>").html_safe : "Drinks" %></li>
    </ul>
    <br/>

    <!-- Status -->
    <p>Status: <%= @event.active %> </p>
    <br/>

    <!-- Photos -->
    <h4>Photos</h4>
    <% @event.photos.each do |photo| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= image_tag photo.image.thumbnail %>
      </div>
    </div>
    <% end %>

    <!-- Categories -->
    <h4>Categories</h4>
    <% @categories.each do |category| %>
    <span class="label label-success"> <%= category.name %></span>
    <% end %>
  </div>

</div>
    <hr/>
<%= link_to "BACK", events_path, class: "btn btn-default" %>
